html {
    font-family: Veneer;
  }
  
  ul {
    padding: 10px;
    margin: 10px;
    list-style-type: circle; ;
  }
  
  label {
    padding-top: 5px;
    margin-left: 10px;
  }
  
  .bannerimage {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    background-size: cover;
  }
  
  .wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
  }

  div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}